@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body {
    font-family: 'Roboto Slab', serif;
}
h1 { 
    color: red;
}
.box-container {
    width: 80%;
    margin: auto;
    h4 {
        text-align: center;
        text-shadow: 2px 2px 5px #ccc;
        text-transform: uppercase;
        font-size: 20px;
        color: #5e5e5e;
    }
    ul {
        display: inline-block;
        list-style: none;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
        position: relative;
        li {
            img {
                max-width: 100%;
            }
            a {
                text-decoration: none;
                font-size: 15px;
                color: #4e4e4e;
            }
            float: left;
            text-align: center;
            width: 150px;
            margin-right: 10px;
            border: 1px solid rgb(236, 236, 236);
            padding: 10px;
            border-radius: 10px;
            box-shadow: 3px 3px 10px rgb(235, 233, 233);
        }
    }
}
@media screen and (max-width: 480px) {
    .box-container {
        width: 90%;
        ul {
            li {
                width: 100%!important;
                padding: 0px!important;
                margin-bottom: 30px;
                div {
                    margin-top: 10px;
                    margin-bottom: 30px;
                    a {
                        img {
                            margin-bottom: 30px
                        }
                        font-size: 25px;
                        text-transform: uppercase;
                    }
                }
            }
            padding: 0px;
            margin: 0px;
        }
    }
        
}